.dashboard {
  display: flex;
  min-height: 100vh;
  background: var(--aEscuro);
  color: var(--offwhite);
  font-family: Arial, sans-serif;
}

/* Menu lateral */
.sidebar {
  width: 250px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(8px);
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.titulo {
  font-size: 2.3rem;
  font-weight: bold;
  margin-bottom: 30px;
  font-family: "Allura", cursive;
  text-align: center;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.menuItem {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--offwhite);
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 12px;
  transition: background 0.3s;
}

.menuItem:hover {
  background: rgba(255, 255, 255, 0.1);
}

/* Área de conteúdo */
.conteudo {
  flex: 1;
  min-height: 100vh;
  padding: 40px;
  background: var(--offwhite);
  color: var(--cinza);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.nomeUsuario {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: var(--aEscuro);
}

.LogoSlogan img{
  height: 400px;
  size: 400px auto ;
}

.LogoSlogan {
  align-items: center;
  align-self: center;
  margin-left: 150px;
}