.botaoContainer {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 9999;
  display: flex;
  gap: 10px;
}

.botaoAcessibilidade,
.botaoAcessibilidade2 {
  background-color: var(--aCinza);
  color: var(--offwhite);
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 5px;
}

.botaoAcessibilidade:hover,
.botaoAcessibilidade2:hover {
  background-color: var(--aPastel);
  color: var(--aCinza);
}

/* Alto contraste */
.alto-contraste {
  background-color: black;
  color: yellow;
}
