.cardVacina {
  background-color: var(--aClaro);
  border-left: 6px solid var(--amarelo);
  padding: 1rem 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  color: var(--aEscuro);
  transition: background-color 0.3s ease;
}

.cardVacina:hover {
  background-color: var(--aPastel);
}

h3 {
  margin: 0 0 0.5rem 0;
}

p {
  margin: 0.2rem 0;
}

.cardButtons {
  margin-top: 10px;
  display: flex;
  gap: 8px;
}

.cardButtons button {
  padding: 6px 10px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}