:root {
    --aClaro: #bac8e0;
    --aPastel: #89CFF0;
    --aCeu: #7BBDE8;
    --aCinza: #9eb7e0;
    --aEscuro: #001D39;
    --aMedio: #aad01f;   
    --offwhite: #f5f5f5;
    --preto: #000;
    --cinza: #161616;
    --cinzaclaro: #555;
    --pendente: #FFDA9E;
    --aplicada: #ADEBB3;
    --proxima: #d3d3ff;

    --bg-color: var(--aClaro);    /* fundo padrão */
    --text-color: var(--aEscuro); /* texto padrão */
   
    --font-base: 16px;
   --font-titulo: 'Allura-Regular', cursive, sans-serif;

    --vermelho: #ff3d41;
}

@font-face {
  font-family: 'Allura-Regular';
  src: url('./../Assets/Fontes/Allura-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* melhora performance */
}

body {
  font-size: var(--font-base);
  background: var(--bg-color);
  color: var(--text-color);
  transition: all 0.3s ease;
}