.consultasPage {
  padding: 30px;
  background: var(--bg-color);
  min-height: 100%;
  border-radius: 12px;
}

.titulo {
  font-size: 2rem;
  margin-bottom: 10px;
  color: var(--text-color);
}

.subtitulo {
  margin-bottom: 30px;
  color: var(--text-color);
}

.listaConsultas {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.cardConsulta {
  background: var(--aCinza);
  backdrop-filter: blur(6px);
  padding: 20px;
  border-radius: 12px;
  flex: 1 1 220px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  color: var(--text-color);
}

.cardConsulta:hover {
     transform: translateY(-5px) scale(1.05);
    background: var(--aCeu);
}

.cardConsulta h3 {
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.cardConsulta p {
  margin: 5px 0;
  font-size: 0.95rem;
}
