  .hospitais {
  padding: 40px;
  background: var(--bg-color);
  color: var(--text-color);
  text-align: center;
}

.tituloHospital {
  font-size: 2rem;
  margin-bottom: 10px;
  color: var(--text-color);
}

.subtituloHospital {
  margin-bottom: 30px;
  opacity: 0.8;
  color: var(--text-color);
}

.containerHospitais {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  
}

.mapa {
  flex: 1;
  min-width: 300px;
  max-width: 600px;
}

.listaHospitais {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.cardHospital {
  padding: 20px;
  border-radius: 12px;
  backdrop-filter: blur(8px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  text-align: left;
}

