.sobre {
  width: 100%;
  min-height: 90vh; /* altura maior */
  background: var(--aEscuro);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 40px;
  color: white;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  max-width: 1300px;
  width: 100%;
  padding: 0 20px; 
  box-sizing: border-box;
}

.texto {
  flex: 1;
}

.subtitulo {
  font-size: 1.2rem;
  color: var(--aClaro);
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.titulo {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2.8rem;
  margin-bottom: 20px;
}

.texto p {
  font-size: 1.1rem;
  line-height: 1.7;
  margin-bottom: 25px;
}

.botao {
  background: var(--aCinza);
  border: none;
  padding: 12px 28px;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.botao:hover {
  background: var(--amarelo);
  color: var(--aEscuro);
}

/* Grid das fotos */
.fotos {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-items: center; 
}

.fotos img {
  width: 100%;
  max-width: 260px;
  height: 280px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.4);
  transition: transform 0.3s;
}

.fotos img:hover {
  transform: scale(1.05);
}

span {
  color: var(--amarelo);
  font-family: "Allura", cursive;
  font-size: 1.5rem;
  font-weight: bold;
}

/* tablet */
@media (max-width: 1024px) {
  .container {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    text-align: center;
    padding: 0 120px;
  }

  .titulo {
    font-size: 2.2rem;
  }

  .texto {
    max-width: 90%;
  }

  .texto p {
    font-size: 1rem;
    line-height: 1.6;
  }

  .fotos {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    width: 100%;
    justify-items: center;
  }

  .fotos img {
    max-width: 220px;
    height: auto;
    border-radius: 15px;
  }
}

/* celular */
@media (max-width: 768px) {
  .container {
    flex-direction: column; 
    text-align: center;
    gap: 30px;
    align-items: center;
    padding: 0 100px;
    
  }

  .texto {
    flex: none;
    width: 100%;
    max-width: 95%;
  }

  .titulo {
    font-size: 2rem;
  }

  .fotos {
    grid-template-columns: 1fr; 
    gap: 20px;
    justify-items: center;
  }

  .fotos img {
    max-width: 90%;
    height: auto;  
  }

  .botao {
    width: 100%; 
    max-width: 280px;
  }
}

/* celulares pequenos */
@media (max-width: 480px) {
  .titulo {
    font-size: 1.6rem;
  }

  .subtitulo {
    font-size: 1rem;
  }

  .texto p {
    font-size: 0.95rem;
    line-height: 1.5;
  }

  .fotos img {
    max-width: 100%;
  }
}
