.rodape {
  color: var(--offwhite);
  background: var(--cinza);
  align-self: center;
  padding: 20px 0;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  
}

.rodape .textoRodape {
  margin: 0;
  background-color: var(--cinza);
}

