.dashboard {
  max-width: 600px;
  margin: 2rem auto;
  background: var(--aCinza);
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  color: var(--aClaro);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nomeDashboard {
    font-family: "Allura", cursive;
    color: var(--aEscuro);
    text-align: center;
}

.tituloVacina {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  margin-bottom: 1.5rem;
  color: var(--offwhite);
}

.formVacina {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;
  justify-content: center;
}

.inputVacina {
  flex: 1 1 150px;
  padding: 0.5rem 1rem;
  border: 2px solid var(--aPastel);
  border-radius: 8px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

.inputVacina:focus {
  border-color: var(--aCeu);
  outline: none;
}

.buttonVacina {
  background-color: var(--aPastel);
  border: none;
  padding: 0.6rem 1.5rem;
  border-radius: 8px;
  color: var(--aEscuro);
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  flex: 1 1 100px;
}

.buttonVacina:hover {
  background-color: var(--aCeu);
}

.vacinasList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.erroInput {
  border-color: var(--vermelho);
}

.mensagemErro {
  color: var(--vermelho);
  font-size: medium;
  font-weight: bold;
  background-color: var(--aClaro);
  align-items: center;
  text-align: center;
  margin-top: 10px;
  
}