.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  gap: 0.5rem;
}

.titulo {
  font-family: "Allura", cursive;
  color: var(--text-color);
  font-size: 2.2rem;
  margin-bottom: 1rem;
}


.box a {
  margin-top: 1rem;
  padding: 0.6rem 1.2rem;
  background-color: var(--aEscuro);
  color: var(--offwhite);
  border-radius: 8px;
  text-decoration: none;
  transition: background 0.3s ease;
}

.box a:hover {
  background-color: var(--amarelo);
  color: var(--aEscuro);
}

.mensagem {
    font-family: sans-serif;
    font-size: 1.2rem;
}

.notfound {
    font-size: 2.5rem;
}